@font-face {
  font-family: "apparel";
  src: url('assets/fonts/Apparel/Apparel\ Display\ Regular.ttf');
}

@font-face {
  font-family: "apparel";
  src: url('assets/fonts/Apparel/Apparel\ Display\ Bold.ttf.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "gilroy";
  src: url('assets/fonts/Gilroy/Gilroy-Light.otf');
}


header{
  background-color: #E6D9BF;
}

header .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header .container img{
  margin: left 4.8vw;
}

header .container nav{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.25rem;
  justify-self: end;
  margin-top: 2.1vh;
  margin-right: 2.7vw;
}

header .container nav a{
  text-decoration: none;
  font-family: 'gilroy';
  font-size: 1.063vw;
  color: #713C25;
}

header .container nav a:hover{
  text-decoration: underline;
  text-decoration-color: #BE6C42;
  text-underline-offset: 5px;
}

body{
  margin: 0px;
}

.header{
  display: grid;
  justify-items: center;
}

.contenedor-texto{
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

.contenedor-texto h1, .contenedor-texto h2{
  font-family: "apparel";
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 9vw;
}

.header1{
  color: #713C25;
  font-size: 3.75vw;
  margin-bottom: -16vh;
  margin-left: 15.4vw;
  font-weight: bold;
}

.header2 {
  color: #F7E7CE;
  font-size: 9.8vw;
  margin-left: 25.5vw;
}

.header3 {
  color: #BE6C42;
  font-size: 21vw;
  margin-top: 1vh;

}

.header {
  background-image: url("assets/images/portada.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.contenedor-imagen{
  margin-left: 14.4vw;
  margin-top: -17vh;
  z-index: 2;
 
}

.contenedor-imagen img {
  width: 56.1vw;

}

.contenedor-video{
  display: grid;
  grid-template-columns: 95vw;
  justify-items: end;
  z-index: 1;
}

.contenedor-video a img{
  width: 14.7vw;
  height: auto;
}

.contenedor-video a {
  margin-top: -21.3vh;
  height: min-content;

}

.separador {
  z-index: 3;

}

.separador img {
  width: 100%;  
  margin-top: -5px;
}

.container-2 {
  background-image: url("assets/images/portada_2.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  
}

.section1 {
  font-family: "Apparel";
  color:#713C25 ;
  font-size: 8.2vw;
  text-align: left;
  margin-left: 5.3vw;
  margin-right: 21.3vw;

}

.section2 {
  font-family: "gilroy";
  color:#713C25 ;
  font-size: 1vw;
  margin-left: 8vw;
  margin-right: 47.9vw;
  padding-right: 26.6vw;
  text-align: end;
   
}

.section3 {
  font-family: "gilroy";
  color:#713C25 ;
  font-size: 2.1vw;
  padding-left: 32vw;
  padding-right: 42.5vw;
  
  
}

.columna1 {
  float: left;
  height: 0;
  margin-top: -4.2vw;
    
}

.columna2 {
  float: right;
  margin-top: -5.3vw; 
  
}

.button1 a{
  color: #713C25;
  text-decoration: none;
  font-family:"gilroy" ;
  font-size: 1vw; 

}

.button1 {
  height: 6.28vh;
  width:  9.84vw;
  border-color: #713C25;
  margin-left: 15vw;
  background-color: transparent;
  border-color: #713C25;
  border-width: 1px;
  margin-top: 8.12vh;
  
}

.button1 a:hover {
  color: #BE6C42;
}


.section4 {
  color: #BE6C42;
  font-family: "Apparel";
  text-align: center;

}

.img1 {
  margin-left: 16vw;
  margin-top: 32vh;
  margin-bottom: -23.4vh;
  width: 65.7vw;
}
  
.contenedor-imagen1 {
  position: relative;
  display: inline-block;
}

.contenedor-imagen1 img {
  max-width: 100%;
  height: auto;
}

.contenedor-imagen1 h2 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12.2vw;
  text-align: center;
  z-index: 1;
  line-height: 0.8;
  
}

.big {
  color:#713C25;
  float: left;
  
}

.container-3 {
  background-color: #E2D2B7;
}

.button2{
  height:  6.3vh;
  width: 9.8vw;
  border-color: #713C25;
  margin-left: 17vw;
  background-color: transparent;
  border-color: #713C25;
  border-width: 1px;
  margin-top: 28.2vh;
  margin-left: 32vw;
}

.button2 a{
  color: #713C25;
  text-decoration: none;
  font-family:"gilroy" ;
  font-size: 1vw; 
  
}

.button2 a:hover {
  color: #BE6C42;
}

.section5 {
  font-family: "gilroy";
  color:#713C25 ;
  font-size: 1vw;
  margin-left: 47.9vw;
  margin-right: 18.6vw;
  margin-top: -6.4vh;
  margin-bottom: 10.6vh;
  
}

.contenedor-imagen2 {
  position: relative;
  display: inline-block;
  
}

.contenedor-imagen2 img {
  max-width: 100%;
  height: auto;
}

.contenedor-imagen2 h3 {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: 3vw;
  color:#E2D2B7;
  text-align: center;
  font-family: "Apparel";
  
}

.container-4 {
  background-image: url("assets/images/portada_3.png");
  background-size: cover;
  background-repeat: no-repeat;
  display:grid;
  
}

.contenedor-texto4{
  display: grid;
  grid-template-rows: min-content min-content;
}

.section7 {
  font-family: "Apparel";
  color:#BE6C42;
  font-size: 15.9vw;
  margin: 30vh 0px 0px 20vw;
}

.section8 {
  font-family: "apparel";
  color: #713C25;
  font-size: 15.9vw;
  margin: 0px 0px 0px 40vw;
}

.button3 a {
  color: #713C25;
  text-decoration: none;
  font-family:"gilroy" ;
  font-size: 1vw;
}

.button3 {
  height: 6.3vh;
  width: 9.8vw;
  border-color: #713C25;
  background-color: transparent;
  border-color: #713C25;
  border-width: 1px;
  margin-top: 28.2vh;
  margin-left: 65.2vw;

}

.button3 a:hover {
  color: #BE6C42;
}


.container-5 {
  background-image: url("assets/images/portada_4.png");
  background-size: cover;
  background-repeat: no-repeat;
  display:grid;
  
}

.contenedor-imagen3 {
  position:relative;
  display: inline-block;
   
}


.img01 {
  height: 85.6vh; 
  margin: 8vh 1vw 0px 2.5vw;
}

.img02 {
  height: 85.6vh;
  margin: 8vh 1vw 0px 5vw;
}

.img03 {
  height: 85.6vh; 
  margin: 8vh 0px 0px 5vw;
}

.contenedor-texto5 {
  display: grid;
  grid-template-rows: min-content min-content;  
   
}

.section9 {
  font-size:12.8vw;
  font-family: "Apparel";
  color: #F7E7CE;
  position: absolute;
  text-align: left;
  margin: 40vh 0px 0px 25vw;
}


.section10 {
  font-size:18vw;
  font-family: "Apparel";
  color: #BE6C42;
  margin:60vh 0px 10vh 20vw ; 
}

.section11 {
  font-family: "gilroy";
  color: #713C25;
  font-size: 1vw;
  margin: -5vh 0px 0px 20vw;
  
}

.img01:hover {
  transform:scale(1.04);
  transition: transform 0.5s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  
}

.img02:hover {
  transform:scale(1.04);
  transition: transform 0.5s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.img03:hover {
  transform:scale(1.04);
  transition: transform 0.5s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.button4 {
  height: 6.3vh;
  width: 9.8vw;
  border-color: #713C25;
  background-color: transparent;
  border-color: #713C25;
  border-width: 1px;
  margin-top: 10.2vh;
  margin-left: 45.2vw;
}

.button4 a {
  color: #713C25;
  text-decoration: none;
  font-family:"gilroy" ;
  font-size: 1vw;
}

.button4 a:hover {
  color: #BE6C42;
}


  
.section12 {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 2vw;
    color:#E2D2B7;
    text-align: center;
    font-family: "Apparel";
    
  }

  .contenedor-imagen4 {
    position: relative;
    display: inline-block;
    
  }
  
  .contenedor-imagen4 img {
    max-width: 100%;
    height: auto;
  }
  

  footer {
    background-image: url("assets/images/footer_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:-0.4vh;
    display: grid;
    
  }

  .section13 {
    font-family: "gilroy";
    font-size: 2.08vw;
    color: #713C25;
    margin-top:102.5vh;
    margin-left: 4vw;
  }

  .section14 {
    font-family: "gilroy";
    font-size: 1.8vw;
    color: #713C25;
    margin-bottom: 14vh;
    margin-left: 4vw;
  }

  .contenedor-texto6 a {
    font-family: "gilroy";
    color: #713C25;
    font-size: 1.2vw;
    text-decoration: none;
    margin-left: 4vw;
    
  }

  .contenedor-texto7 a {
    font-family: "gilroy";
    color: #713C25;
    font-size: 0.9vw;
    text-decoration: none;
    display: grid;
    grid-template-rows: 1fr;
    justify-items: end;
    justify-content:right;
    margin-inline-end:2.1vw;
    margin-block-start:0.4vh;
    
  }

 .contenedor-texto6 a:hover {
  text-decoration: underline;
  text-decoration-color: #BE6C42;
  text-underline-offset: 5px;
}

.contenedor-texto7 a:hover {
  text-decoration: underline;
  text-decoration-color: #BE6C42;
  text-underline-offset: 5px;
}